
@{
    ViewBag.Title = "PlaceOrder";
}
<div style="padding:20px; border:2px solid white; margin-top:30px;background:#474747;">
    <div style=" text-align: center; margin: 34px;">
        <img  src="~/Images/po1.jfif" />
    </div>
    <h2 style=" color: yellow; font-size: 25px; text-align: center;;">
        YOUR ORDER IS PLACED SUCESSFULLY.!!!
        THANK YOU FOR SHOPPING WITH US :-).
    </h2>
    <div style="text-align:center;">
        Here is the your Ticket to watch Movie
        <div>
            <img src="~/Images/barcode.jpg" height="100px"; width="200px;" />
        </div>
    </div>
    <div style=" text-align: center; font-size: 25px;">
        @Html.ActionLink("Continue Shopping", "Index")
    </div>
</div>

